<form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
           <input name="email" [(ngModel)] = "user.email" type="email" id="inputEmail" class="form-control" placeholder="Email address"  #email="ngModel"
              required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" autofocus> 
              <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                Некорректный email
              </div>
           <input name="password" [(ngModel)] = "user.password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
           
       <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin();" type="submit">Sign Up</button>
       <a [routerLink]="['/signUp']"> Sign Up</a>
</form>